@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}
html , body{
    height: 100%;
    width: 100%;
}
#main
{
    height: 100%;
    width: 100%;
    background:linear-gradient(to bottom right, pink,blue);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
h1{
    font-size: 5vw;
    font-weight: 600;
    margin-bottom: 50px;
    color: #fff;
}
a{
    text-decoration: none;
    font-size: 30px;
    font-weight: 600;
    padding: 20px 30px;
    color: #fff;
    border-radius: 20px;
    background-color: transparent;
    border: 2px solid #fff;
    transition: all ease 0.5s;
}
a:hover{
    background-color: #ffffff1e;
}
